{
   "extends": [
      "wesbos"
   ],
   "rules": {
      "prettier/prettier": [
         {
            "semi": true,
            "tabWidth": 3,
            "singleQuote": false,
            "quoteProps": "preserve"
         }
      ]
   }
}